@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
	/* Base font size */
	font-size: 10px;
	/* Heading height variable*/
	--heading-height: 30em;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
    background-color: #101010;
    text-color: white;
}

#Header {
	position: absolute;
	width: 100%;
    height: var(--heading-height);
    background-image: url("https://images.unsplash.com/photo-1503414890524-8d85e78eb3ae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4cc4d6d1a4590f9b7b92888f9c22cd1a&auto=format&fit=crop&w=1330&q=80");

}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80) no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

h1 {
	font-size: calc(2.8em + 2.6vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 10rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}

main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}

p {
	font-size: calc(2em + .25vw);
	font-weight: 400;
	line-height: 2;
	margin-bottom: 1.5em;
	color: #fcfcfc;
}


#linebarbutton {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 1em;
    color: #FFFFFF;
    padding: 20px;
    width: 30%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
}

#linebarbutton:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 8px;
}

#linebarbutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    border-radius: 8px;
}
body {
    width: 100%;
}

#MainBody{
    width:70%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-color:white;
    color:white;
}

#LineBarToggle{
    text-align:left;
}